// @import '~@/common/scss/const.scss';

// 定义颜色规范
$color-background: #fff;
$primaryColor: #2FA197;
$black: #181B26;
$middle-black: #1E2135;
$light-black: #353535;
$dark: #6C6C91;
$middle-dark: #8282a6;
$white: #fff;
$gray: #d0d0d0;
$middle-gray: #EBEBEB;
$light-gray: #F6F6F6;
$red: #FF4E53;
$green: #3db4ab;
$color-text: #000;


//定义字体规范
$font-size-small-s  : 10px;
$font-size-small    : 12px;
$font-size-medium   : 14px;
$font-size-medium-x : 16px;
$font-size-large    : 18px;
$font-size-large-x  : 22px;
